[Desktop Entry]
Name=Winepak Builder
Comment=Winepak Builder tool
Exec=winepak-builder %U
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
