[Desktop Entry]
Name=World of Warcraft
Comment=Massively-multiplayer online role-playing game
Exec=wow %U
Icon=com.blizzard.WoW
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;RolePlaying;
Keywords=World of Warcraft;WoW;Warcraft;Blizzard;RPG;MMORPG;
