[Desktop Entry]
Name=com.oskarstalberg.Planet
Comment=A study in tilesets
Exec=planet %U
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;Simulation;
Keywords=Polygonal Planet Project;Planet;Oskar Stålberg;Oskar;OskSta;
